:root {
    --grid-tile-border-radius: 5px;
}

section:nth-child(4) {
    padding: 0 var(--component-padding);
    background-color: var(--color-gray1);
}

section:nth-child(4) h3 {
    font-size: var(--font-size-h3);
    color: var(--color-gray4);
    padding: 5vh 0 7vh 0;
}

section:nth-child(4) .course-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 2vw;
    grid-row-gap: 3.5vh;
    padding-bottom: 10rem;
}

section:nth-child(4) .course-grid-wrapper div {
    padding-bottom: 3rem;
    border: 1px solid var(--color-gray3);
    border-radius: var(--grid-tile-border-radius);
    color: var(--color-white);
}

section:nth-child(4) .course-grid-wrapper div img {
    width: 100%;
    border-top-right-radius: var(--grid-tile-border-radius);
    border-top-left-radius: var(--grid-tile-border-radius);
}

section:nth-child(4) .course-grid-wrapper div h4 {
    font-size: var(--font-size-h4);
    padding: 2vw 0 2vw 1.6vw;
}

section:nth-child(4) .course-grid-wrapper div p {
    font-size: var(--font-size-p);
    padding: 0 0 6vw 1.6vw;
}

section:nth-child(4) .course-grid-wrapper div a {
    font-size: var(--font-size-anchor);
    color: var(--color-blue2);
    padding-left: 1.6vw;
    transition: all 0.4s ease;
}

section:nth-child(4) .course-grid-wrapper div a:hover {
    color: var(--color-blue1);
}


@media only screen and (max-width: 700px) {
    section:nth-child(4) .course-grid-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 400px) {
    section:nth-child(4) .course-grid-wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}